<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinMSFactory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="localhost_TEAM2_Connection" connectionString="XpoProvider=MSSqlServer;data source=whyfi8888.ddns.net,11433;user id=;password=;initial catalog=TEAM2;Persist Security Info=true" />
        <add name="Team2_Connection" connectionString="XpoProvider=MSSqlServer;data source=whyfi8888.ddns.net,11433;user id=;password=;initial catalog=;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WinMSFactory.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value />
            </setting>
            <setting name="Baudrate" serializeAs="String">
                <value />
            </setting>
            <setting name="DataSize" serializeAs="String">
                <value />
            </setting>
            <setting name="Parity" serializeAs="String">
                <value />
            </setting>
            <setting name="Handshake" serializeAs="String">
                <value />
            </setting>
        </WinMSFactory.Properties.Settings>
    </userSettings>
</configuration>