
@{
	ViewBag.Title = "Index";

}
@section title
{
	- @ViewBag.Title
}
<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
	</div>

	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">품목명</h6>
		</div>
		<div class="card-body">
			<div class="small font-weight-bold">
				KF94용 마스크
			</div>
		</div>
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">제품 그룹명</h6>
		</div>
		<div class="card-body">
			<div class="small font-weight-bold">
				공업용 마스크
			</div>
		</div>
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">품명 스펙</h6>
		</div>
		<div class="card-body">
			<div class="small font-weight-bold">
				KF94용 마스크
			</div>
		</div>
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">기본 단위</h6>
		</div>
		<div class="card-body">
			<div class="small font-weight-bold">
				개
			</div>
		</div>
	</div>

	@*<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
					<div class="row">*@
						<div class="col-sm-12">
							<table class="table table-bordered dataTable">
								<colgroup>
									<col width="15%" />
									<col />
									<col width="15%" />
									<col />
								</colgroup>
								<tr>
									<td class="font-weight-bold text-primary">품목명</td>
									<td style="background-color: #fff;">KF94용 마스크</td>
									<td class="font-weight-bold text-primary">제품 그룹명</td>
									<td style="background-color: #fff;">공업용 마스크</td>
								</tr>
								<tr>
									<td class="font-weight-bold text-primary">품명 스펙</td>
									<td style="background-color: #fff;">KF94용 마스크</td>
									<td class="font-weight-bold text-primary">기본 단위</td>
									<td style="background-color: #fff;">개</td>
								</tr>
							</table>
						</div>
					</div>
				@*</div>
			</div>
		</div>
	</div>*@
