<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name ="taskList" type="WinMSFactoryPOP.TaskListSection, WinMSFactoryPOP" />
	</configSections>
	<connectionStrings>
		<add name="MyDB" connectionString="Server=whyfi8888.ddns.net,11433;Uid=team2;Pwd=team2;Database=TEAM2" />
	</connectionStrings>
	<appSettings>
		<add key="line_id" value="31"/>
		<add key="timer_Connect" value="1000"/>
		<add key="timer_Check" value="5000"/>
		<add key="timer_Read" value="300"/>
		<add key="timer_Ka" value="2000"/>
	</appSettings>
	<taskList>
		<taskItem taskID ="task01" hostIP="127.0.0.1" hostPort="5000" remark="설비1 입니다." processId="133" />
		<taskItem taskID ="task02" hostIP="127.0.0.1" hostPort="5100" remark="설비2 입니다." processId="134" />
		<taskItem taskID ="task03" hostIP="127.0.0.1" hostPort="5200" remark="설비3 입니다." processId="135" />
		<taskItem taskID ="task04" hostIP="127.0.0.1" hostPort="5300" remark="설비4 입니다." processId="136" />
		<taskItem taskID ="task05" hostIP="127.0.0.1" hostPort="5400" remark="설비5 입니다." processId="137" />
		<taskItem taskID ="task06" hostIP="127.0.0.1" hostPort="5500" remark="설비6 입니다." processId="138" />
	</taskList>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>